[submodule "hardware/include/cva6"]
	path = hardware/include/cva6
	url = ../cva6.git
[submodule "hardware/include/analogdevices-hdl-lib"]
	path = hardware/include/analogdevices-hdl-lib
	url = ../analogdevices-hdl-lib.git
[submodule "software/include/cva6-sdk"]
	path = software/include/cva6-sdk
	url = ../cva6-sdk.git
